<h3><%= t('password_reset.request.title') %></h3>
<%= form_with url: password_resets_path do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit t('password_reset.request.button') %>
<% end %>