<div class="cardnewPage">
  <div class="container">
    <%= form_with model: @card, url: list_card_index_path, class: "new_card", local: true do |f| %>
      <%= f.hidden_field :list_id, value: @list.id %>
      <% if @list.errors.any? %>
        <div class="alert alert-danger" role="alert">
          タイトルは1～255文字以内で入力してください
        </div>
      <% end %>

      <div class="mb-3">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "カード名" %>
      </div>
      <div class="mb-3">
        <%= f.label :memo, class: "form-label" %>
        <%= f.text_area :memo, autofocus: true, class: "form-control", placeholder: "詳細" %>
      </div>
      <div class="text-center">
        <%= f.submit "作成", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>