<div class='carddetailPage'>
  <div class="container">
    <div class="card_contents">
      <div class="card_contents_title">
        <div>タイトル</div>
        <h2><%= @card.title %></h2>
      </div>
      <div class="card_contents_memo">
        <div>メモ</div>
        <div><%= @card.memo %></div>
      </div>
      <div class="card_contents_listStatus">
        <div>リスト名</div>
        <div><%= @card.list.title %></div>
      </div>

      <div class="card_contents_btnArea">
        <%= link_to '編集する', edit_list_card_path(@card.list, @card), class: "btn btn-primary" %>
        <%= link_to '削除する', list_card_path(@card.list, @card), data: { turbo_method: :delete, turbo_confirm: "削除しますか？"}, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
